.row {
    height: 42px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .fst-container {
        width: 100%;
    }

    & .snd-container {
        width: 100%;
    }

    & .trd-container {
        height: 42px;
        margin-left: 5px;
    }
}