.container {
    margin-top: 5px;

    .boxes-container {
        display: flex;
        gap: 10px;

        & .image-upload {
            position: relative;

            & .image-preview {
                width: 150px;
                height: 150px;
                border: 2px dashed rgb(190, 190, 190);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                & .upload-label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    & .message {
        color: #b0b0b0;
        text-align: center;
        margin-bottom: 2%;
    }
}

@media (max-width: 768px) {
    .boxes-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 320px;
        height: 250px;
        justify-self: center;
        justify-content: center;
    }
}