.new-products-section {
    display: flex;
    flex-direction: column;
    text-align: center;

    & h3 {
        color: black;
        font-weight: 400;
        font-size: 2rem;
    }

    & .products-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px;
        gap: 70px;
    }
}